<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>bik</title>
    <style>
        body {
            background-color: #111;
            color: white;
            font-family: 'Noto Serif JP', serif;
            padding: 40px;
        }
        a {
            color: #3498db;
        }
    </style>
</head>
<body>
    <h1>バイク</h1>
    <p>Yamaha DragStar 250　に乗ってます♩</p>
    <p>バイクは風に乗ってる感覚がすごく楽しい</p>
    <p>ちょっと暇な時間に出かけれるのが趣味として凄くオススメ☆</p>
    <p>マップを見ることが得意ではない為行く場所も決めないで適当に道を走るのが好き</p>
    <p>☝帰ってこれないかが不安？その時はiPhoneでマップを確認します（笑）</p>
    <p>たまにツーリングをしていると対向車線の知らないバイクドライバーさんがいきなり手を挙げて挨拶をしてくれる良く分からない文化もあるのですが...自分はそういった文化が大好きです。</p>
    <p>DragStar 250　は馬力も弱くエンジンも付きにくい時があるけれどそんなところも含めて大好き。もうかれこれ4年ほどこのバイクに乗っています</p>
    <a href="/hobby">← 戻る</a>
</body>
</html>