<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>FromSoftware</title>
    <style>
        body {
            background-color: #111;
            color: white;
            font-family: 'Noto Serif JP', serif;
            padding: 40px;
        }
        a {
            color: #3498db;
        }
    </style>
</head>
<body>
    <h1>FromSoftware</h1>
    <p>ダークソウルシリーズ、エルデンリング、ブラッドボーン、セキロウ、</p>
    <p>アクション性が最高で死ぬたびに強くなっていける感覚が堪らない</p>
    <p>この中でも特にセキロウが好きでノーマルモード、ハードモードともにクリアしています！</p>
    <p>セキロウはストーリーも理解できやすくて万人に好まれるゲームではないかと思います</p>
    <p>ほかのゲーム　仁王1.2、Wo Longなどコーエーテクモゲームも大好きです</p>
    <p>難しかったのは エルデンリング。 オープンワールドに慣れてなくて最初はどこに行けば正解なのかが分からなくてあちこち散歩をしていました。後半になるにつれてオープンワールドでの楽しみ方も少しは理解できてオープンワールドも悪くないなと思った。</p>
    <p>エルデンリングでは特に マレニア の攻撃を見切るのが難しく最高の強敵でした！</p>
    <a href="/hobby">← 戻る</a>
</body>
</html>