<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>turi</title>
    <style>
        body {
            background-color: #111;
            color: white;
            font-family: 'Noto Serif JP', serif;
            padding: 40px;
        }
        a {
            color: #3498db;
        }
    </style>
</head>
<body>
    <h1>釣り</h1>
    <p>最近始めたばっかりでほとんど良く分かっていません。</p>
    <p>今は良く分からないままサビキ釣り？ができるようになってきました！</p>
    <p>小さいアジや小さいカサゴを釣れるようになってきた♪</p>
    <p>やっぱり釣りをするからにはリリースだけでなく持って帰って塩焼きで食べてみたい☆</p>
    <p>塩焼きをするには魚のサイズが小さめではなく中位じゃないと食べよう！って気になれないのでゆくゆくは大きめの魚を釣りたいな～</p>
    <p>まだ経験上"坊主"(魚が釣れずに解散)にはなったことがないので楽しく釣りができています！</p>
    <p>坊主になる日が来ても、何故釣れなかったのか、どんな場所が釣れ難い、どんな時間に釣れ難いのか。を考えれるような楽しい時間が過ごせるならそれもありだけどね！</p>
    <a href="/hobby">← 戻る</a>
</body>
</html>